.logo {
    color: black;
    font-size: 50px;
    font-weight: 250;
}

.logo-2 {
    font-size: 18px;
    margin-top: 5px;
    color: #555;
    margin-bottom: 50px;
}

.header {
    text-align: center;
    margin-top: 100px;

    user-select: none;       /* 텍스트 드래그 금지 */
    pointer-events: auto;    /* 클릭 이벤트는 그대로 작동 */
    -webkit-user-select: none; /* 크로스브라우징 */
    -moz-user-select: none;
    -ms-user-select: none;
}