.logo {
    color: black;
    font-size: 50px;
    font-weight: 250;
}

.logo-2 {
    font-size: 18px;
    margin-top: 5px;
    color: #555;
    margin-bottom: 50px;
}

.header {
    text-align: center;
    margin-top: 10px;

    user-select: none;
    pointer-events: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}