.main-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

footer {
    margin-top: 0 !important;
}

.right-panel {
    width: 50%;
    background-color: #1c407d;
    color: white;
    transition: width 0.5s ease;
    position: relative;
    z-index: 1;
    clip-path: url(#wave-right);
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 20px;
}

#userIconToggle {
    margin-top: 7px !important;
}

.right-panel:hover {
    width: 60%;
}

.left-panel {
    width: 50%;
    background-color: #E3E3E3;
    color: black;
    transition: width 0.5s ease;
    position: relative;
    z-index: 1;
    clip-path: url(#wave-left);
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 20px;
}

.left-panel:hover {
    width: 60%;
}

.left {
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: transparent;
}

.left-image {
    width: 190%;
    height: auto;
    z-index: 0;
    margin-bottom: 250px;
}

.left-text {
    margin-top: 230px;
    z-index: 1;
}

.right {
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: transparent;
}

.right-image {
    margin-left: 20px;
    margin-top: 300px;
    width: 190%;
    height: auto;
    z-index: 0;
    margin-bottom: 250px;
}

.right-text {
    margin-top: 230px;
    z-index: 1;
}



