.main-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}
body{
    overflow: hidden;
}


.right-panel {
    width: 50%;
    background-color: #1c407d;
    color: white;
    transition: width 0.5s ease;
    position: relative;
    z-index: 1;
    clip-path: url(#wave-right);
    cursor: pointer;
    text-align: center;
    align-items: center;      /* 수직 중앙 */
    justify-content: center;  /* 수평 중앙 */
    border-radius: 50px;
    font-size: 20px;
}

.right-panel:hover {
    width: 60%;
}

.left-panel {
    width: 50%;
    background-color: #E3E3E3;
    color: black;
    transition: width 0.5s ease;
    position: relative;
    z-index: 1;
    clip-path: url(#wave-left);
    cursor: pointer;
    text-align: center;
    align-items: center;      /* 수직 중앙 */
    justify-content: center;  /* 수평 중앙 */
    border-radius: 50px;
    font-size: 20px;
}

.left-panel:hover {
    width: 60%;
}

.left {
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: flex-end;  /* 아래 정렬 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    background-color: transparent; /* 배경 투명하게 */
}

.left-image {
    width: 190%;     /* 비율 유지하며 확대 */
    height: auto;
    z-index: 0;
    margin-bottom: 250px;
}

.left-text {
    margin-top: 230px;
    z-index: 1;
}

.right {
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: flex-start;  /* 아래 정렬 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    background-color: transparent; /* 배경 투명하게 */
}

.right-image {
    margin-left: 20px;
    margin-top: 300px;
    width: 190%;     /* 비율 유지하며 확대 */
    height: auto;
    z-index: 0;
    margin-bottom: 250px;
}

.right-text {
    margin-top: 230px;
    z-index: 1;
}

.main-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

/*.roommate-start {*/
/*    height: 60px;*/
/*    width: 300px; !* 원형 *!*/
/*    background-color: white;*/
/*    border-radius: 50px;*/
/*    border: 2px solid #E5F2FF;*/
/*    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);*/
/*}*/



