.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #fff;
    border-radius: 40px;
    width: 400px;
    max-width: 90vw;
    padding: 24px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: left;
}

.modal h2 {
    color: #3399ff;
    font-size: 18px;
    margin-bottom: 12px;
}

.modal p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.modal-buttons button {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 45px;
    cursor: pointer;
    color: #3399ff;
    background-color: white;
    border: 2px solid #DAEDFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.cancel-btn {
    background: #f1f1f1;
    color: #555;
    border: 1px solid #ddd;
}

.deactivate-btn {
    background: #3399ff;
    color: white;
}

.modal-title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}
.modal-title h2 {
    margin: 0;
    font-size: 18px;
}
