.main-container {
    display: flex;
    align-items: flex-start;
}

footer {
    margin-top: 50px !important;
}

.sidebar {
    position: sticky;
    top: 20px;
    height: calc(100vh - 130px);

    width: 260px;
    padding: 20px 14px;
    border-right: 1px solid #eee;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    flex-shrink: 0;
}
.sidebar-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #3399ff;
    font-weight: 500;
    white-space: nowrap;
}
.sidebar-profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #DAEDFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    flex-shrink: 0;
}
.sidebar-logo-text {
    opacity: 1;
    transition: opacity 0.2s ease;
    font-size: 1rem;
}
.sidebar-toggle-btn {
    position: absolute;
    top: 22px;
    left: 24px;
    background: none;
    border: none;
    color: #555;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    z-index: 10;
}
.sidebar-toggle-btn:hover {
    background-color: #eee;
}

.sidebar-menu-wrapper {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: none;
}
.sidebar-menu-wrapper::-webkit-scrollbar {
    display: none;
}

.sidebar-menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-menu-item {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
    text-decoration: none;
    color: #555;
    border-radius: 8px;
    padding: 0 12px;
    white-space: nowrap;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.sidebar-menu-item i {
    font-size: 1.2rem;

    width: 30px;

    flex-shrink: 0;

    text-align: center;
}

.sidebar-menu-item:hover, .sidebar-menu-item.active {
    background-color: #e6e6e6;
    color: #111;
}
.sidebar-menu-item i {
    font-size: 1.2rem;
    width: 24px;
    text-align: center;
}
.sidebar-menu-text {
    opacity: 1;
    transition: opacity 0.2s ease;
    font-weight: 500;
}

.sidebar.collapsed {
    width: 88px;
    padding: 20px 14px;
}

.sidebar.collapsed .sidebar-header {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.sidebar.collapsed .sidebar-menu-item {
    gap: 0;
}

.sidebar.collapsed .sidebar-menu-text {
    opacity: 0;
    pointer-events: none;
}

.sidebar-main-content {
    flex-grow: 1;
    width: auto;
    transition: width 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar.collapsed ~ .sidebar-main-content {
    width: auto;
}