body {
    background: linear-gradient(to right, #f9f9f9, #E5F2FF);

    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center;*/
}

.detail-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 60px;
    max-width: 1000px;
    max-height: 900px;
    margin: 60px auto 0;
    border-radius: 40px;
    padding: 60px 40px 40px;
    border: 2px solid #E5F2FF;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.profile-photo {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 2px solid #E5F2FF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background: #ddd url('/images/noimg.png') center/cover no-repeat;
}


.self-intro {
    width: 90%;
    max-width: 350px;
    min-height: 100px;
    border-radius: 40px;
    padding: 20px;
    text-align: left;
    font-size: 15px;
    border: 2px solid #E5F2FF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.detail-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.detail-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#birthArea {
    margin-bottom: 55px;
}

.detail-left, .detail-right {
    flex: 1;
    min-width: 300px;
}

.user-name {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 40px;
    color: #1c407d;
}

.self-intro h3 {
    color: #1c407d;
}

.user-info {
    margin: 0;
    font-size: 1rem;
    color: #555;
}

.tag-box {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 12px;
    margin-top: 12px;
    max-width: 400px;

}

.tag {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 40px;
    background: #f1f3f5;
    font-size: 14px;
    border: 2px solid #E5F2FF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: #1c407d;
    white-space: nowrap;
}

#chatButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.detail-msg-btn {
    display: flex;
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #E5F2FF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #3399ff;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    margin-right: 10px;
    margin-top: 30px;
    background-color: white;
}

.detail-msg-btn:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 150px !important;
}