<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kopo.shallwithme.mapper.IMyPageMapper">

    <select id="pwCheck" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT USER_ID, USER_NAME, EMAIL
        FROM USER_INFO
        WHERE USER_ID = #{userId}
          AND PASSWORD = #{password}
    </select>

    <select id="emailCheck" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT
            IF(COUNT(PASSWORD) > 0, 'Y', 'N') AS EXISTS_YN
        FROM USER_INFO
        WHERE EMAIL = #{email} AND USER_ID = #{userId}
    </select>

    <update id="softDeleteUser" parameterType="UserInfoDTO">
        UPDATE
        USER_INFO
        SET
        USER_NAME = '알수없음',
        PASSWORD = UUID(), <!-- 임의의 값으로 변경하여 로그인 불가 처리 -->
        EMAIL = CONCAT('deleted_', NOW(), '_', EMAIL), <!-- 이메일 중복 방지를 위해 기존 이메일 변경 -->
        status = 'DEACTIVATED',
        deleted_at = NOW() <!-- 현재 시간을 탈퇴 요청 시간으로 기록 -->
        WHERE
        USER_ID = #{userId}
    </update>

    <update id="deactivateProfile" parameterType="UserProfileDTO">
        UPDATE
            USER_PROFILE
        SET
            profile_image_url = '/images/withdraw-profile-img.png',
            chg_dt = NOW()
        WHERE
            user_id = #{userId}
    </update>

    <!-- 탈퇴한 지 30일 지난 회원 영구 삭제 (Hard Delete) 쿼리 -->
    <delete id="deleteOldDeactivatedUsers">
        DELETE FROM USER_INFO
        WHERE
            status = 'DEACTIVATED'
          AND
        <![CDATA[
            deleted_at <= DATE_SUB(NOW(), INTERVAL 15 DAY)
        ]]>
    </delete>

</mapper>