<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kopo.shallwithme.mapper.IScheduleMapper">

    <select id="getScheduleList" parameterType="UserInfoDTO" resultType="ScheduleDTO">
        SELECT
            schedule_id, title, DATE_FORMAT(schedule_dt, '%Y-%m-%dT%H:%i:%s') AS schedule_dt,
            location, memo, creator_id, participant_id
        FROM
            SCHEDULE
        WHERE
            (creator_id = #{userId} OR participant_id = #{userId}) AND status = 'CONFIRMED'
    </select>

    <insert id="insertSchedule" parameterType="ScheduleDTO">
        INSERT INTO SCHEDULE (
            title, schedule_dt, location, memo, creator_id, participant_id, status
        ) VALUES (
                     #{title}, #{scheduleDt}, #{location}, #{memo}, #{creatorId}, #{participantId}, 'CONFIRMED'
                 )
    </insert>

    <update id="updateSchedule" parameterType="ScheduleDTO">
        UPDATE SCHEDULE
        SET title = #{title}, schedule_dt = #{scheduleDt}, location = #{location}, memo = #{memo}
        WHERE schedule_id = #{scheduleId}
    </update>

    <delete id="deleteSchedule" parameterType="ScheduleDTO">
        DELETE FROM SCHEDULE
        WHERE schedule_id = #{scheduleId}
    </delete>

    <update id="updateShareScheduleStatus" parameterType="ScheduleDTO">
        UPDATE
            SCHEDULE
        SET
            STATUS = #{status}
        WHERE
            SCHEDULE_ID = #{scheduleId}
    </update>

    <select id="selectMessageByScheduleId" parameterType="string" resultType="ChatMessageDTO">
        SELECT
            message_id,
            room_id AS roomId,
            sender_id AS senderId,
            message,
            sent_at AS sentAt,
            message_type AS messageType,
            schedule -- 복합 타입인 경우 매핑 주의 필요
        FROM CHAT_MESSAGE
        WHERE schedule_id = #{scheduleId}
            LIMIT 1
    </select>

    <select id="getScheduleById" parameterType="int" resultType="ScheduleDTO">
        SELECT
            SCHEDULE_ID,
            TITLE,
            SCHEDULE_DT,
            LOCATION,
            MEMO,
            CREATOR_ID,
            PARTICIPANT_ID,
            STATUS,
            ROOM_ID
        FROM
            SCHEDULE
        WHERE
            SCHEDULE_ID = #{scheduleId}
    </select>

    <insert id="insertShareSchedule" parameterType="ScheduleDTO">
        <selectKey keyProperty="scheduleId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO SCHEDULE (
        TITLE,
        SCHEDULE_DT,
        LOCATION,
        MEMO,
        CREATOR_ID,
        PARTICIPANT_ID,
        STATUS,
        ROOM_ID
        ) VALUES (
        #{title},
        #{scheduleDt},
        #{location},
        #{memo},
        #{creatorId},
        #{participantId},
        #{status},
        #{roomId}
        )
    </insert>

</mapper>