<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kopo.shallwithme.mapper.IYouthPolicyMapper">

    <select id="getPolicyList" resultType="YouthPolicyDTO">
        SELECT
            plcy_no,
            plcy_nm,
            plcy_expln_cn,
            biz_prd_bgng_ymd,
            biz_prd_end_ymd,
            aply_url_addr,
            sprvsn_inst_cd_nm
        FROM
            YOUTH_POLICY
        ORDER BY
            biz_prd_bgng_ymd DESC
    </select>

    <insert id="insertPolicy" parameterType="YouthPolicyDTO">
        INSERT INTO YOUTH_POLICY (
            plcy_no, plcy_nm, plcy_expln_cn, biz_prd_bgng_ymd,
            biz_prd_end_ymd, aply_url_addr, sprvsn_inst_cd_nm
        ) VALUES (
                     #{plcyNo}, #{plcyNm}, #{plcyExplnCn}, #{bizPrdBgngYmd},
                     #{bizPrdEndYmd}, #{aplyUrlAddr}, #{sprvsnInstCdNm}
                 )
    </insert>

    <delete id="deleteAllPolicies">
        DELETE FROM YOUTH_POLICY
    </delete>

</mapper>
